body {
  font-size: 1px;
  /* font-family: Comic Sans MS; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2vw 2vw;
  display: flex;

  background-image: linear-gradient(to right bottom, #ebeef1, #8ca8ee);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.main-card {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 60%;
  color: #96a1a1;
  box-shadow: 3px 3px 8px 3px #0071ce;
  transition: all 0.3s ease-in-out;
}

.main-card:hover {
  color: #000000;
  opacity: 100%;
  transition: all 0.35s ease-in-out;
  transform: scale(1.05);
  opacity: 100%;
}

.cover-photo {
  background-image: url(https://miro.medium.com/max/1400/1*0E9gGRlF-scbUaEzPopCjA.jpeg);
  width: 190px;
  height: 90px;
  background-size: 165%;
  background-position: right;
}

.photo {
  background: #f9f9f9;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

img {
  position: relative;
  width: 80px;
  height: 110px;
  top: -83px;
  max-width: 100%;
  max-height: 120%;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  color: transparent;
  margin-top: 30px;
}

.list {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  text-decoration: none;
  list-style: none;
  padding: 6px;
  justify-content: space-evenly;
}

.linkedin,
.github {
  flex-direction: column;
  display: list-item;
  border: none;
  /* text-align: -webkit-match-parent; */
  cursor: pointer;
}

ul li {
  width: 20px;
  height: 20px;
  /* margin: 50px 0 -50px 0; */
  padding: 5px;
}

.content {
  background: #f9f9f9;
  width: 180px;
  height: 120px;
  padding: 5px;
}

.about {
  font-size: 9.5px;
  text-align: justify;
  margin: 2px;
  margin-top: 8px;
  padding: 2px;
}

h2.name,
a,
h3 {
  margin: 2px;
  text-align: center;
  margin-top: -45px;
  margin-bottom: -15px;
  font-size: 14px;
}

h3.fullstack {
  font-size: 12px;
  margin-top: 20px;
}

.team {
  font-size: 10px;
  margin-bottom: 5px;
}
